<launch> 

	<!-- Start Node -->
	<arg     name="num"    default="1"/>
	
	<group   ns="$(eval 'node' + str(arg('num')))">
		<node    name="turtle"    pkg="pylauncher"    type="blueprint_node_launch.py"    output="screen"/>
		<param   name="inst_num"  type="double"       value="$(eval arg('num')-1)" />
	</group>

	<!-- Recursively start instance of a node -->
	<include    file="$(find pylauncher)/launch/dynamic.launch"    if="$(eval arg('num') - 1 > 0)">
		<arg    name="num"    value="$(eval arg('num')-1)"/>
	</include>

	<!--node pkg="turtlesim" name="sim1" type="turtlesim_node"/-->
   
</launch>

