<launch> 

	<!-- Start Node -->
	<arg     name="num"    default="1"/>
	
	<group   ns="$(eval 'node' + str(arg('num')))">
		<node    name="turtle"    pkg="pylauncher"    type="blueprint_node.py"    output="screen"/>
	</group>

	<!-- Recursively start instance of a node -->
	<include    file="$(find pylauncher)/launch/dynamic.launch"    if="$(eval arg('num') - 1 > 0)">
		<arg    name="num"    value="$(eval arg('num')-1)"/>
	</include>

	<!--node pkg="turtlesim" name="sim1" type="turtlesim_node"/-->
   
</launch>


   <!-- start node -->
   <!--arg name="nr" default="1"/> 
   <param  name="nth"    value="$(eval str(arg('nr')))" />
   
   <group ns="$(eval 'turtle' + str(arg('nr')))">
      <node   name="turtle" pkg="turtlesim-tf"      type="add_frame.py"/>
      
   </group-->

   <!-- recursively start new node>
   <include file="$(find turtlesim-tf)/launch/dynamic.launch" if="$(eval arg('nr') - 1 > 0)">
       <arg name="nr" value="$(eval arg('nr')-1)"/>
   </include-->

   <!--node pkg="turtlesim" name="sim1" type="turtlesim_node"/-->
